:host
  display flex
  height 100%
  flex-direction column
  padding 0 2rem
  width 100%

.button-container
  display flex
  justify-content space-between
  margin-bottom 2rem
  width 100%

.residences-container__warning
  text-align center

.room-content__container-top
  display flex
  justify-content space-between