<form class="task-form" [formGroup]="taskForm" (submit)="onSubmit()">
  <form-control-date
    formControlName="date"
    [controlName]="'Date'"
    [control]="taskForm.controls['date']"
  ></form-control-date>
  <form-control-hour
    formControlName="hour"
    [controlName]="'Hour'"
    [control]="taskForm.controls['hour']"
  ></form-control-hour>
  <form-control-switch
    formControlName="state"
    [controlName]="'Value'"
  ></form-control-switch>
  <button-submit [disabled]="taskForm.invalid"></button-submit>
</form>