.form-control__fieldset
  border .2rem solid #444B54
  margin 0.5rem 0 1rem 0
  transition all .3s linear
  &.touched
    border-color: #3bc391

.form-control__legend
  padding 0 .2rem

.form-control__label
  color #444B54

.form-control__label,
.form-control__radio
  &:hover
    cursor pointer

.form-control__radio
  margin-right .75rem
  padding .2rem
  outline none