.form-control__fieldset
  border .2rem solid #0A0A0A
  transition all .3s linear
  &.touched
    border-color: #3bc391

.form-control__legend
  padding 0 .2rem

.form-control__label
  color #0A0A0A

.form-control__label,
.form-control__radio
  &:hover
    cursor pointer

.form-control__radio
  margin-right .75rem
  padding .2rem
  outline none