<div class="card"
     [ngClass]=" {
      'flipped-right': flippedTo === 'right',
      'flipped-left': flippedTo === 'left'
     }">
  <div class="card__flipper">
    <card-front
      [component]="component"
      (flippedTo)="flipTo($event)"
      (positionChange)="onPositionChange($event)"
      (stateChange)="onStateChange($event)">
    </card-front>
    <card-back
      [id]="component?.id"
      [isOn]="component?.isOn"
      [type]="component?.type"
      [side]="flippedTo"
      (flippedTo)="flipTo($event)">
    </card-back>
  </div>
</div>