_switch-component-off = #EB6B56
_switch-component-off--hover = #CE5E4C
_switch-component-on = #21AD7A
_switch-component-on--hover = #198A61
_thermometer-component = #F1C40F
_thermometer-component--hover = #FCCA05
_light-component = #867198
_light-component--hover = #67537A
_motion-component = #79857E
_motion-component--alert = #FF0000
_sensor-component = #E67E22
_sensor-component--hover = #E66E19
_servo-component = #00A4B2
_servo-component--hover = #0F8AB2
_box-shadow = 0 .9rem 3rem #BBB
_box-shadow--hover = 0 .9rem 3rem #999
_global-transition = all .5s ease

.card
  flex 1 1 100%
  height 25rem
  perspective 62.5rem
  transition _global-transition
  user-select none
  width 16rem
  &.flipped-right .card__flipper
    transform rotateY(180deg)
  &.flipped-left .card__flipper
    transform rotateY(-180deg)

.card__flipper,
.card__front,
.card__back
  height 100%
  width 100%

.card__flipper
  position relative
  transition _global-transition
  transform-style preserve-3d

.card__front,
.card__back
  backface-visibility hidden
  background-color _red-tone
  box-shadow _box-shadow
  color #FFF
  display flex
  flex-direction column
  left 0
  padding 1rem
  position absolute
  transition _global-transition
  top 0

.card__front
  transform rotateY(0deg)
  z-index 2
  &:hover
    cursor pointer

.is-switch
  background-color _switch-component-off
  &:hover
    background-color _switch-component-off--hover
  & + .card__back
    background-color _switch-component-off
  &.isOn
    background-color _switch-component-on
    &:hover
      background-color _switch-component-on--hover
  &.isOn ~ .card__back
    background-color _switch-component-on

.is-thermometer
  background-color _thermometer-component
  &:hover
    background-color _thermometer-component--hover
  &.card__back
    background-color _thermometer-component

.is-light
  background-color _light-component
  &:hover
    background-color _light-component--hover

.is-motion
  background-color _motion-component
  &.detected-motion
    animation blink .5s linear infinite
    & .fa-rss
      animation beating 1s linear infinite

@keyframes blink
  0%, 100%
    background-color _motion-component
  50%
    background-color _motion-component--alert

@keyframes beating
  0%, 100%
    transform scale(1)
  50%
    transform scale(1.5)

.is-sensor
  background-color _sensor-component
  &:hover
    background-color _sensor-component--hover

.is-servo
  background-color _servo-component
  &:hover
    background-color _servo-component--hover

.card__front-icons,
.card__back-left__icons,
.card__back-right__icons,
  display flex
  justify-content space-between
  font-size 2.5rem
  overflow hidden

.fa-tasks,
.fa-cog,
.fa-times
  transition _global-transition
  backface-visibility hidden
  &:hover
    cursor pointer
    transform rotate(90deg)

@media screen and (min-width: 26rem)
  .card
    height 25rem;
    width 25rem;