.board-content__container
  display flex

.board-content__list,
.board-content__list__item__list
  list-style none
  margin 0 2rem 0 0
  padding 0

.board-content__list
  display flex

@media screen and (min-width: 425px)
  .board-content__pins-container
    display flex