.card__back
  display flex
  flex-direction row
  justify-content space-between
  transform rotateY(180deg)

.card__back-left,
.card__back-right
  color #FFF
  flex 0 1 0%
  max-width 0
  opacity 0
  transition _global-transition
  &.isOpen
    flex 2 0 100%
    max-width 100%
    opacity 1