<div class="card__back">
  <!--<div class="card__back-left" [class.isOpen]="flippedTo === 'left'">
    <div class="card__back-left__icons">
      <i class="fa fa-times" aria-hidden="true" (click)="unflip()"></i>
    </div>
  </div>
  <div class="card__back-right" [class.isOpen]="flippedTo === 'right'">
    <div class="card__back-right__icons">
      <i class="fa fa-times" aria-hidden="true" (click)="unflip()"></i>
    </div>
  </div>-->
  <card-back-left></card-back-left>
  <card-back-right></card-back-right>
</div>