<aside class="sidebar">
  <div class="sidebar__container">
    <div class="sidebar__current-user">
      <current-user></current-user>
    </div>
    <ul class="sidebar-list">
      <li class="sidebar-list__item">
        <a [routerLink]="['dashboard']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="sidebar-list__item-link">Dashboard <i class="fa fa-terminal"></i></a>
      </li>
      <li class="sidebar-list__item">
        <a [routerLink]="['residences']"
        [ngClass]="
        {
          'active': isActive([idUser, 'residences', idResidence, 'update']) || isActive([idUser, 'residences', idResidence]) || isActive([idUser, 'residences', 'new']) || isActive([idUser, 'residences'])
        }"
        class="sidebar-list__item-link">Residências <i class="fa fa-home"></i>
      </a>
    </li>
    <li class="sidebar-list__item">
      <a [routerLink]="idResidence ? ['residences', idResidence, 'rooms'] : null" [routerLinkActive]="['active']"  [class.disabled]="!idResidence" class="sidebar-list__item-link">Dependências <i class="fa fa-television"></i></a>
    </li>
    <li class="sidebar-list__item">
      <a [routerLink]="idResidence ? ['residences', idResidence, 'boards'] : null" [routerLinkActive]="['active']" [class.disabled]="!idResidence" class="sidebar-list__item-link">Placas <i class="fa fa-microchip"></i></a>
    </li>
    <li class="sidebar-list__item">
      <a [routerLink]=" idResidence ? ['tasks'] : null" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [class.disabled]="!idResidence" class="sidebar-list__item-link">Tarefas<i class="fa fa-tasks"></i></a>
    </li>
    <!--<li class="sidebar-list__item">
      <a [routerLink]="['users']" [routerLinkActive]="['active']" class="sidebar-list__item-link">Users<i class="fa fa-users"></i></a>
    </li>-->
  </ul>
</div>
</aside>