.sidebar
  display flex
  flex-direction column
  justify-content flex-end
  height 100%
  user-select none
  width 100%

.sidebar__container
  display flex
  flex-direction column
  justify-content space-between
  margin 5rem 0 0 0
  overflow-y scroll
  height 100%
  width 100%

.sidebar__current-user
  margin auto 0

.sidebar-list
  margin 0
  padding 0
  transition all .3s linear
  width 100%

.sidebar-list__item
  display block
  overflow auto

.sidebar-list__item-link
  align-items center
  display flex
  color #FFF
  justify-content space-between
  padding 1.5rem
  text-decoration none
  transition all .3s linear
  &:hover
    background-color #F27935
    color #FFF
    cursor pointer
    padding-left 3rem
  & .fa
    font-size 1.4rem
  & .fa-microchip
    transform translateX(-.3rem) rotate(90deg)

.active
  background-color #EEE
  color #3F3F3F

.disabled
  opacity .5
  &:hover
    background-color #EEE
    color #3F3F3F
    cursor default
    padding-left 1.5rem

@media screen and (min-height: 50rem)
  .sidebar-list__item-link
    padding 1.5rem