:host, .residence-container
  display flex
  height 100%
  flex-direction column
  width 100%

:host
  padding 0 2rem

.button-container
  display flex
  flex-direction row
  justify-content space-between
  width 100%

.residence-content__container-top
  display flex
  justify-content space-between

.residence-content__data
  text-align center

@media screen and (min-width: 64rem)
  .residence-list__container
    display flex
    justify-content space-around

  .residence-content__container
    width 50%
    padding 1rem