.button-container
  display flex
  flex-direction row
  justify-content space-between
  width 100%

.residence-content__container-top
  display flex
  padding 0 0 0 1rem
  justify-content space-between

.residence-content__data
  text-align center

@media screen and (min-width: 64rem)
  .residence-list__container
    display flex
    justify-content space-around

  .residence-content__container
    width 49%