:host
  display flex
  flex-direction column
  padding 2rem
  width 100%

.button-container
  display flex
  justify-content space-between
  min-height 3.47rem
  margin-bottom 2rem
  width 100%

.residence__container
  display flex
  flex-direction column

.residence__container-carousel__item:last-child
  margin-top 2rem

@media screen and (min-width: 48rem)
  .residence__container-carousel
    display flex
    flex-direction row
    justify-content space-around

  .residence__container-carousel__item
    width 50%

  .residence__container-carousel__item:last-child
    margin-top 0