<div class="update-residence-container">
  <h1 class="update-residence-container__title">Update a residence</h1>
  <form [formGroup]="updateResidenceForm" class="update-residence-form">
    <label for="description" class="update-residence-form__label">Description</label>
    <input type="text" formControlName="description" class="update-residence-form__input">
    <label for="url" class="update-residence-form__label">Url</label>
    <input type="text" formControlName="url" class="update-residence-form__input">
    <input type="submit" value="Create" [disabled]="updateResidenceForm.invalid" class="update-residence-form__submit">
  </form>
</div>