.update-room-container
  margin auto
  overflow auto
  padding 1rem
  width 100%

.update-room-container__title
  margin 1rem 0

.update-room-form
  display flex
  flex-direction column
  font-size 1rem

.update-room-form__input
  margin .5rem 0 1rem 0

.update-room-form__input
  font-size 1.5rem

.update-room-form__submit
  padding 1rem 0
  margin .5rem 0 1rem 0

@media screen and (min-width: 425px)
  .update-room-container
    width 80%

@media screen and (min-width: 650px)
  .update-room-container
    width 75%

@media screen and (min-width: 900px)
  .update-room-container
    width 50%

@media screen and (min-width: 1000px)
  .update-room-container
    width 40%