<div class="button-container">
  <button-back></button-back>
  <button-delete></button-delete>
</div>
<div class="update-board-container">
  <h1 class="update-board-container__title">Update {{ board?.Description }}</h1>
  <form [formGroup]="updateBoardForm" class="update-board-form" (ngSubmit)="onSubmit()">
    <form-control-text
      formControlName="description"
      [controlName]="'description'"
      [control]="updateBoardForm.controls['description']"
    >
    </form-control-text>
    <form-control-number
      formControlName="port"
      [controlName]="'port'"
      [control]="updateBoardForm.controls['port']"
    >
    </form-control-number>
    <button-submit [disabled]="updateBoardForm.invalid"></button-submit>
  </form>
</div>