<button-back></button-back>
<div class="residence-container" *ngIf="residence">
  <h1 class="residence-container__title" [textContent]="residence?.description"></h1>
  <div class="residence-content">
    <h2 class="residence-content__label">URL</h2>
    <h3 class="residence-content__data" [textContent]="residence?.url"></h3>
    <a [routerLink]="['update']">Update residence</a>
    <div class="residence-content__container">
      <h2 class="residence-content__label">Rooms</h2>
      <ul class="residence-content__rooms-list" *ngIf="residence.rooms.length else noRooms">
        <li class="residence-content__rooms-list-item"*ngFor="let room of residence.rooms">
          <a [routerLink]="['rooms', room._id]" [textContent]="room.description"></a>
        </li>
      </ul>
      <a [routerLink]="['rooms','new']" class="residence-content__new-room">New room</a>
      <ng-template #noRooms>
        <h3 class="residence-content__data">No rooms on this residence</h3>
      </ng-template>
    </div>
    <div class="residence-content__container">
      <h2 class="residence-content__label">Boards</h2>
      <ul class="residence-content__boards-list" *ngIf="residence.boards.length else noBoards">
        <li class="residence-content__boards-list-item"*ngFor="let board of residence.boards">
          <a [routerLink]="['boards', board._id]" [textContent]="board.description"></a>
        </li>
      </ul>
      <a [routerLink]="['boards', 'new']" class="residence-content__new-board">New board</a>
      <ng-template #noBoards>
        <h3 class="residence-content__data">No boards on this residence</h3>
      </ng-template>
    </div>
  </div>
</div>
