.menu-toggle,
.menu-toggle--open
  display flex
  flex-direction column
  justify-content center
  align-items center
  position absolute
  top 0
  left 0
  overflow hidden
  width 4rem
  height 100%
  &:hover
    cursor pointer
    & .menu-toggle__item
      background-color #EEE

.menu-toggle__item
  border-radius 5px
  background-color #FFF
  height .2rem
  transition all .4s ease-in-out
  opacity 1
  width 3rem

.menu-toggle__item:nth-child(even)
  margin .8rem 0

.menu-toggle--open .menu-toggle__item:first-child
  transform rotateZ(136deg) translate3d(23%, -400%, 0)

.menu-toggle--open .menu-toggle__item:nth-child(2)
  height .3rem
  transform translateX(-4rem)

.menu-toggle--open .menu-toggle__item:last-child
  transform rotateZ(-136deg) translate3d(23%, 400%, 0)