<div class="button-container">
  <button-back></button-back>
  <button-delete (click)="onDeleteComponent()"></button-delete>
</div>
<div class="update-component-container" *ngIf="component">
  <form [formGroup]="updateComponentForm" class="new-component-form" (ngSubmit)="onSubmit()">
      <form-control-text
        formControlName="description"
        [controlName]="'descrição'"
        [control]="updateComponentForm.controls['description']"
      >
      </form-control-text>
      <form-control-select
      formControlName="board"
        [controlName]="'placa'"
        [control]="updateComponentForm.controls['board']"
        [items]="boards"
      >
      </form-control-select>
      <div [ngSwitch]="component.type" class="new-component-form__container">
        <ng-container *ngSwitchCase="1">
          <form-control-number
            formControlName="digitalPin"
            [controlName]="'digital pin'"
            [control]="updateComponentForm.controls['digitalPin']"
          >
          </form-control-number>
          <form-control-text
            formControlName="commandOn"
            [controlName]="'comando - Ligar'"
            [control]="updateComponentForm.controls['commandOn']"
          >
          </form-control-text>
          <form-control-text
            formControlName="commandOff"
            [controlName]="'comando - Desligar'"
            [control]="updateComponentForm.controls['commandOff']"
          >
          </form-control-text>
        </ng-container>
        <ng-container *ngSwitchCase="2">
          <form-control-number
            formControlName="analogPin"
            [controlName]="'pino analógico'"
            [control]="updateComponentForm.controls['analogPin']"
          >
          </form-control-number>
          <form-control-number
            formControlName="frequency"
            [controlName]="'frequência'"
            [control]="updateComponentForm.controls['frequency']"
          >
          </form-control-number>
        </ng-container>
        <ng-container *ngSwitchCase="3">
          <form-control-number
            formControlName="analogPin"
            [controlName]="'pino analógico'"
            [control]="updateComponentForm.controls['analogPin']"
          >
          </form-control-number>
          <form-control-number
            formControlName="frequency"
            [controlName]="'frequência'"
            [control]="updateComponentForm.controls['frequency']"
          >
          </form-control-number>
          <form-control-number
            formControlName="threshold"
            [controlName]="'limite'"
            [control]="updateComponentForm.controls['threshold']"
          >
          </form-control-number>
        </ng-container>
        <ng-container *ngSwitchCase="4">
          <form-control-number
            formControlName="digitalPin"
            [controlName]="'pino digital'"
            [control]="updateComponentForm.controls['digitalPin']"
          >
          </form-control-number>
        </ng-container>
        <ng-container *ngSwitchCase="5">
          <form-control-number
            formControlName="analogPin"
            [controlName]="'pino analógico'"
            [control]="updateComponentForm.controls['analogPin']"
          >
          </form-control-number>
          <form-control-number
            formControlName="frequency"
            [controlName]="'frequência'"
            [control]="updateComponentForm.controls['frequency']"
          >
          </form-control-number>
          <form-control-number
            formControlName="threshold"
            [controlName]="'limite'"
            [control]="updateComponentForm.controls['threshold']"
          >
          </form-control-number>
        </ng-container>
        <ng-container *ngSwitchCase="6">
            <form-control-number
            formControlName="digitalPin"
            [controlName]="'pino digital'"
            [control]="updateComponentForm.controls['digitalPin']"
          >
          </form-control-number>
          <form-control-number
            formControlName="rotation"
            [controlName]="'rotação'"
            [control]="updateComponentForm.controls['rotation']"
          >
          </form-control-number>
          <form-control-number
            formControlName="startAt"
            [controlName]="'iniciar em'"
            [control]="updateComponentForm.controls['startAt']"
          >
          </form-control-number>
          <form-control-number
            formControlName="minRange"
            [controlName]="'rotação mínima'"
            [control]="updateComponentForm.controls['minRange']"
          >
          </form-control-number>
          <form-control-number
            formControlName="maxRange"
            [controlName]="'rotação máxima'"
            [control]="updateComponentForm.controls['maxRange']"
          >
          </form-control-number>
          <form-control-text
            formControlName="command"
            [controlName]="'comando'"
            [control]="updateComponentForm.controls['command']"
          >
          </form-control-text>
        </ng-container>
      </div>
      <button-submit [disabled]="updateComponentForm.invalid"></button-submit>
    </form>
</div>
<modal [headerTitle]="headerTitle" [openModal]="openModal" (closeModal)="onCloseModal($event)">
  <ng-container *modalBody>
    <span class="warning__message"
      [textContent]="warningMessage"
    >
    </span>
  </ng-container>
</modal>
