:host
  bottom 2rem
  position fixed
  right 2rem
  z-index 10

:host, .speech__recognition
  display flex
  height 3.75rem
  justify-content center
  width 3.75rem

.speech__recognition
  background-color #E51A31
  border 0
  border-radius 50%
  color #FFF
  font-size 1.8rem
  transition all .4s linear
  outline none

@media screen and (min-width: 62.5rem)
  .speech__recognition
    opacity .3
    &:hover
      opacity 1

.recording
  box-shadow 0 0 .6rem #E51A31
  transform-origin center center
  transform scale(1.1)