.new-component-container
  margin auto
  overflow auto
  padding 1rem
  width 100%

.new-component-container__title
  margin 1rem 0

.new-component-form
  display flex
  flex-direction column
  font-size 1rem

.new-component-form__input
  font-size 1.5rem
  margin .5rem 0 1rem 0

.new-component-form__container
  display flex
  flex-direction column
  max-width 100%

.new-component-form__submit
  padding 1rem 0
  margin .5rem 0 1rem 0

@media screen and (min-width: 425px)
  .new-component-container
    width 80%

@media screen and (min-width: 650px)
  .new-component-container
    width 75%

@media screen and (min-width: 900px)
  .new-component-container
    width 50%

@media screen and (min-width: 1000px)
  .new-component-container
    width 40%