<div class="new-account-container">
  <h1 class="new-account__title">Create new account</h1>
  <form [formGroup]="accountForm" class="account-form" (ngSubmit)="onSubmit()">
    <label for="name" class="account-form__label">Name</label>
    <input type="text" formControlName="name" class="account-form__input">
    <label for="email" class="account-form__label">Email</label>
    <input type="text" formControlName="email" class="account-form__input">
    <label for="password" class="account-form__label">Password</label>
    <input type="password" formControlName="password" class="account-form__input">
    <label for="confirmPassword" class="account-form__label">Confirm password</label>
    <input type="password" formControlName="confirmPassword" class="account-form__input">
    <label for="pin" class="account-form__label">Pin</label>
    <input type="password" formControlName="pin" inputmode="numeric" class="account-form__input">
    <input type="submit" class="account-form__submit" value="Create account" [disabled]="accountForm.invalid">
  </form>
</div>