<div class="new-account-container">
  <h1 class="new-account__title">Create new account</h1>
  <form [formGroup]="accountForm" class="account-form" (ngSubmit)="onSubmit()">
    <form-control-text
      formControlName="name"
      [controlName]="'nome'"
      [control]="accountForm.controls['name']"
      [placeholder]="'Digite seu nome'"
    >
    </form-control-text>
    <form-control-text
      formControlName="email"
      [controlName]="'email'"
      [control]="accountForm.controls['email']"
      [placeholder]="'Digite seu email'"
    >
    </form-control-text>
    <form-control-password
      formControlName="password"
      [controlName]="'senha'"
      [control]="accountForm.controls['password']"
      [placeholder]="'Digite sua senha'"
    >
    </form-control-password>
    <form-control-password
      formControlName="confirmPassword"
      [controlName]="'confirmar senha'"
      [control]="accountForm.controls['confirmPassword']"
      [placeholder]="'Confirme a sua senha'"
    >
    </form-control-password>
    <form-control-password
      formControlName="pin"
      [controlName]="'pin'"
      [control]="accountForm.controls['pin']"
      [placeholder]="'Digite o seu pin (somente números)'"
    >
    </form-control-password>
    <button-submit [disabled]="accountForm.invalid">
    </button-submit>
  </form>
</div>