_grey-tone = #79857E
_red-tone = #FF0000
_box-shadow = 0 .9rem 3rem #BBB
_box-shadow--hover = 0 .9rem 3rem #999

.motion
  display flex
  background-color _grey-tone
  box-shadow _box-shadow
  color #FFF
  font 700 4rem 'Exo 2', sans-serif
  flex 1 1 100%
  flex-direction column
  height 25rem
  margin 2rem 0 2rem 0
  overflow hidden
  padding 1rem
  transition all .3s linear
  width 18rem
  &:hover
    box-shadow _box-shadow--hover
    cursor pointer

.isActive
  background-color _red-tone
  animation blink .5s linear infinite
  & .fa.fa-rss
    animation beating 1s linear infinite

@keyframes blink
  0%, 100%
    background-color _grey-tone
  50%
    background-color _red-tone

@keyframes beating
  0%, 100%
    transform scale(1)
  50%
    transform scale(1.5)

.motion__description-container
  display flex
  flex-direction column
  justify-content space-around
  text-align center
  word-break break-all

.motion__description
  font-size 2rem

.motion__data-container
  display flex
  flex-direction column
  flex-grow 2
  justify-content space-around
  text-align center
  word-break break-all

@media screen and (min-width: 26rem)
  .motion
    height 25rem;
    width 25rem;