.modal__wrapper
  align-items center
  background-color rgba(0, 0, 0, 0.8)
  display none
  justify-content center
  left 0
  height 100%
  overflow auto
  position fixed
  top 0
  width 100%
  z-index 12

.modal--open
  display flex

.modal__container
  background-color #EEE
  display flex
  flex-direction column
  height 20rem
  transition all .4s ease-in
  width 90%
  z-index 1000

.modal__header
  align-items center
  background-color #0A0A0A
  color #EEE
  display flex
  font 1.2rem 'Mada', sans-serif
  justify-content space-between
  height 4rem
  padding 1rem
  width 100%

.modal__header-close
  font-size 1.5rem
  transition all .3s ease-in
  &:hover
    cursor pointer
    transform scale(1.1)

.modal__body
  display flex
  flex-direction column
  justify-content space-around
  height 100%
  padding 1rem
  width 100%

.button-submit
  margin 0
  padding 0

@media screen and (min-width 48rem)
  .modal__header
    font-size 1.5rem

  .modal__container
    width 75%
    height 20rem

@media screen and (min-width 56rem)
  .modal__container
    width 50%
