<div class="card__front" [class.isOn]="component?.isOn" [class.detected-motion]="detectedMotion" [ngClass]="{
  'is-switch': component?.type === 1,
  'is-thermometer': component?.type === 2,
  'is-light': component?.type === 3,
  'is-motion': component?.type === 4,
  'is-sensor': component?.type === 5,
  'is-servo': component?.type === 6
}">
  <card-front-icons [componentId]="component?.id">
  </card-front-icons>
  <card-front-description [componentId]="component?.id" [componentType]="component?.type" [componentDescription]="component?.description" [componentMinRange]="component?.minRange" [componentMaxRange]="component?.maxRange" [componentPosition]="component?.position">
  </card-front-description>
</div>