<div class="button-container">
  <button-back></button-back>
  <button-delete></button-delete>
</div>
<div class="update-residence-container" *ngIf="residence">
  <form [formGroup]="updateResidenceForm" class="update-residence-form" (ngSubmit)="onSubmit()">
    <form-control-text
      formControlName="description"
      [controlName]="'descrição'"
      [control]="updateResidenceForm.controls['description']"
    >
    </form-control-text>
    <form-control-text
      formControlName="url"
      [controlName]="'url'"
      [control]="updateResidenceForm.controls['url']"
    >
    </form-control-text>
    <button-submit
      [text]="'Salvar'"
      [disabled]="updateResidenceForm.invalid"
     ></button-submit>
  </form>
</div>
<modal [headerTitle]="headerTitle" [openModal]="openModal" (closeModal)="onCloseModal($event)">
  <ng-container *modalBody>
    <span class="warning__message"
      [textContent]="warningMessage"
    >
    </span>
  </ng-container>
</modal>