.form-control
  max-width 100%
  display flex
  flex-direction column
  position relative

.form-control__label
  &::before
    font-family 'FontAwesome'
    font-size 2rem
    left .5rem
    position absolute
    top 2.5rem

.form-control__input
  border none
  background-color transparent
  color #0A0A0A
  font-size 1.5rem
  margin .5rem 0 1rem 0
  max-width 100%
  outline none
  padding .5rem 0 .5rem 3rem
  transition all .5s linear
  border-bottom .2rem solid #0A0A0A

.label-email
  &::before
    content '\f1fa'

.label-link
  &::before
    content '\f0c1'

.label-input
  &::before
    content '\f031'

.invalid
  border-color #F31D2F

.valid
  border-color #3BC391