<div class="form-control">
  <label for="{{ controlName }}" class="form-control__label" 
    [ngClass]="
      {
        'label-email': controlName === 'email',
        'label-link': controlName === 'url',
        'label-input': controlName === 'description',
        'label-numeric': controlName === 'port'
      }"
    [textContent]="controlName | capitalize"
  >
  </label>
  <input [type]="controlName === 'port' ? 'number' : 'text'" class="form-control__input"
    [ngClass]="
      {
        'invalid': !control?.valid,
        'valid': control?.valid
      }"
    (change)="onChange($event)"
    (keyup)="onChange($event)"
    (blur)="onTouched()"
    [value]="_value"
    [placeholder]="placeholder"
  >
  <span *ngIf="control?.invalid && control?.touched">
    Invalid input
  </span>
</div>