<div class="form-control">
    <label for="{{ controlName }}" class="form-control__label" 
     [ngClass]="
     {
       'label-email': controlName === 'email',
       'label-link': controlName=== 'url',
       'label-input': controlName=== 'description'
     }"
     [textContent]="controlName | capitalize"
    >
    </label>
    <input type="text" formControlName="formControl" class="form-control__input"
      [ngClass]="
      {
        'invalid': !isValid,
        'valid': isValid
      }"
      [value]="value"
    >
</div>