.form-control
  max-width 100%
  display flex
  flex-direction column
  position relative

.form-control__label
  &::before
    font-family 'FontAwesome'
    font-size 2rem
    position absolute
    top 2.5rem

.form-control__input
  border none
  background-color transparent
  color #444B54
  font-size 1rem
  margin .5rem 0 1rem 0
  max-width 100%
  outline none
  padding 1rem 0 .5rem 2.8rem
  transition all .5s linear
  border-bottom .2rem solid #444B54

.label-email
  &::before
    content '\f1fa'

.label-link
  &::before
    content '\f0c1'

.label-input
  &::before
    content '\f031'

.label-voice
  &::before
    content '\f130'
    margin-left .7rem

.invalid
  border-color #F31D2F

.valid
  border-color #3BC391

.form-control__warning
  font-size 1rem
  color #F31D2F
  margin-bottom 1rem