.login-container
  margin auto
  overflow auto
  padding 1rem
  width 100%

.login__title
  margin 1rem 0

.login-form
  display flex
  flex-direction column
  font-size 1rem

.login-form__input
  font-size 1.5rem
  margin .5rem 0 1rem 0

.login-form__submit
  padding 1rem 0
  margin .5rem 0 1rem 0

@media screen and (min-width: 425px)
  .login-container
    width 80%

@media screen and (min-width: 650px)
  .login-container
    width 75%

@media screen and (min-width: 900px)
  .login-container
    width 50%

@media screen and (min-width: 1000px)
  .login-container
    width 40%