<div class="login-container">
  <h1 class="login__text">DOMMUS</h1>
  <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
    <form-control-text
      formControlName="email"
      [controlName]="'email'"
      [control]="loginForm.controls['email']"
      [placeholder]="'Digite seu email'"
    >
    </form-control-text>
    <form-control-password
      formControlName="password"
      [controlName]="'senha'"
      [control]="loginForm.controls['password']"
      [placeholder]="'Digite sua senha'"
    >
    </form-control-password>
    <button-submit
      [disabled]="loginForm.invalid"
      [text]="'Login'"
    >
    </button-submit>
  </form>
  <a class="create" [routerLink]="['new-account']">Criar nova conta</a>
</div>