:host
  display flex
  height 100%
  padding 2rem
  width 100%

.login-container
  display flex
  flex-direction column
  justify-content center
  width 100%

.login__text
  font-family 'Exo 2', sans-serif
  font-size 3rem
  text-align center

.create
  color #2980B9
  display flex
  margin-left auto
  text-decoration none

@media screen and (min-width 56rem)
  :host
    padding 0 20rem