:host
  display flex
  height 100%
  padding 2rem
  width 100%

.table
  display flex
  flex-direction column
  width 100%
  &:hover
    cursor default

.table__head
  display flex
  width 100%

.table__head__item
  background-color #353C3E
  color #EEE
  flex 1
  font 600 .9rem 'Exo 2', sans-serif
  padding 1rem
  justify-content center

.table__head__item:first-child,
.table__body__row__item:first-child,
.table__head__item:last-child,
.table__body__row__item:last-child
  display none

.table__body
  display flex
  flex-direction column

.table__body__row
  display flex
  transition all .3s linear
  border-left 0 solid #EEE
  border-right 0 solid #EEE
  &:hover
    border-left .5rem solid #F27935
    border-right .5rem solid #F27935

.table__body__row:nth-child(odd)
  background-color #FFF
  

.table__body__row__item
  display flex
  flex 1
  font 600 .9rem 'Mada', sans-serif
  justify-content center
  padding 1rem
  word-break break-all

.no__data
  padding 1rem 0

@media screen and (min-width 26rem)
  .table__head__item,
  .table__body__row__item
    font-size 1rem

@media screen and (min-width 48rem)
  .table__head__item:first-child,
  .table__body__row__item:first-child,
  .table__head__item:last-child,
  .table__body__row__item:last-child
    display flex