<div class="button-container">
  <button-back></button-back>
</div>
<div class="new-component-container">
  <form [formGroup]="newComponentForm" class="new-component-form" (ngSubmit)="onSubmit()">
    <form-control-text
      formControlName="description"
      [controlName]="'description'"
      [control]="newComponentForm.controls['description']"
    >
    </form-control-text>
    <form-control-select
    formControlName="board"
      [controlName]="'board'"
      [control]="newComponentForm.controls['board']"
      [defaultOption]="'Choose the board'"
      [items]="boards"
    >
    </form-control-select>
    <form-control-select (change)="onChange()"
      formControlName="component"
      [controlName]="'component'"
      [control]="newComponentForm.controls['component']"
      [defaultOption]="'Choose the component'"
      [items]="components"
    >
    </form-control-select>
    <div [ngSwitch]="currentFormat" class="new-component-form__container">
      <ng-container *ngSwitchCase="1">
        <form-control-number
          formControlName="digitalPin"
          [controlName]="'Digital Pin'"
          [control]="newComponentForm.controls['digitalPin']"
        >
        </form-control-number>
        <form-control-text
          formControlName="commandOn"
          [controlName]="'command on'"
          [control]="newComponentForm.controls['commandOn']"
        >
        </form-control-text>
        <form-control-text
          formControlName="commandOff"
          [controlName]="'command off'"
          [control]="newComponentForm.controls['commandOff']"
        >
        </form-control-text>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <form-control-number
          formControlName="analogPin"
          [controlName]="'Analog Pin'"
          [control]="newComponentForm.controls['analogPin']"
        >
        </form-control-number>
        <form-control-number
          formControlName="frequency"
          [controlName]="'Frequency'"
          [control]="newComponentForm.controls['frequency']"
        >
        </form-control-number>
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <form-control-number
          formControlName="analogPin"
          [controlName]="'Analog Pin'"
          [control]="newComponentForm.controls['analogPin']"
        >
        </form-control-number>
        <form-control-number
          formControlName="frequency"
          [controlName]="'Frequency'"
          [control]="newComponentForm.controls['frequency']"
        >
        </form-control-number>
        <form-control-number
          formControlName="threshold"
          [controlName]="'Threshold'"
          [control]="newComponentForm.controls['threshold']"
        >
        </form-control-number>
      </ng-container>
      <ng-container *ngSwitchCase="4">
        <form-control-number
          formControlName="digitalPin"
          [controlName]="'Digital Pin'"
          [control]="newComponentForm.controls['digitalPin']"
        >
        </form-control-number>
      </ng-container>
      <ng-container *ngSwitchCase="5">
        <form-control-number
          formControlName="analogPin"
          [controlName]="'Analog Pin'"
          [control]="newComponentForm.controls['analogPin']"
        >
        </form-control-number>
        <form-control-number
          formControlName="frequency"
          [controlName]="'Frequency'"
          [control]="newComponentForm.controls['frequency']"
        >
        </form-control-number>
        <form-control-number
          formControlName="threshold"
          [controlName]="'Threshold'"
          [control]="newComponentForm.controls['threshold']"
        >
        </form-control-number>
      </ng-container>
      <ng-container *ngSwitchCase="6">
          <form-control-number
          formControlName="digitalPin"
          [controlName]="'Digital Pin'"
          [control]="newComponentForm.controls['digitalPin']"
        >
        </form-control-number>
        <form-control-number
          formControlName="startAt"
          [controlName]="'Start at'"
          [control]="newComponentForm.controls['startAt']"
        >
        </form-control-number>
        <form-control-number
          formControlName="minRange"
          [controlName]="'Minimum range'"
          [control]="newComponentForm.controls['minRange']"
        >
        </form-control-number>
        <form-control-number
          formControlName="maxRange"
          [controlName]="'Maximum range'"
          [control]="newComponentForm.controls['maxRange']"
        >
        </form-control-number>
        <form-control-text
          formControlName="command"
          [controlName]="'command'"
          [control]="newComponentForm.controls['command']"
        >
        </form-control-text>
      </ng-container>
    </div>
    <button-submit [disabled]="newComponentForm.invalid"></button-submit>
  </form>
</div>
