<div class="button-container">
  <button-back></button-back>
</div>
<div class="new-component-container">
  <form [formGroup]="newComponentForm" class="new-component-form" (ngSubmit)="onSubmit()">
    <form-control-text
      formControlName="description"
      [controlName]="'descrição'"
      [control]="newComponentForm.controls['description']"
      [placeholder]="'Descrição do componente'"
    >
    </form-control-text>
    <form-control-select
    formControlName="board"
      [controlName]="'placa'"
      [control]="newComponentForm.controls['board']"
      [defaultOption]="'Escolha a placa'"
      [items]="boards"
    >
    </form-control-select>
    <form-control-select (change)="onChange()"
      formControlName="component"
      [controlName]="'componente'"
      [control]="newComponentForm.controls['component']"
      [defaultOption]="'Escolha o componente'"
      [items]="components"
    >
    </form-control-select>
    <div [ngSwitch]="currentFormat" class="new-component-form__container">
      <ng-container *ngSwitchCase="1">
        <form-control-number
          formControlName="digitalPin"
          [controlName]="'Pino digital'"
          [control]="newComponentForm.controls['digitalPin']"
          [placeholder]="'Digite o pino digital em que o componente está conectado'"
        >
        </form-control-number>
        <form-control-text
          formControlName="commandOn"
          [controlName]="'comando - Ligar'"
          [control]="newComponentForm.controls['commandOn']"
          [placeholder]="'Digite o comando para ligar o interruptor'"
        >
        </form-control-text>
        <form-control-text
          formControlName="commandOff"
          [controlName]="'comando - Desligar'"
          [control]="newComponentForm.controls['commandOff']"
          [placeholder]="'Digite o comando para desligar o interruptor'"
        >
        </form-control-text>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <form-control-number
          formControlName="analogPin"
          [controlName]="'Pino analógico'"
          [control]="newComponentForm.controls['analogPin']"
          [placeholder]="'Digite o pino analógico em que o componente está conectado'"
        >
        </form-control-number>
        <form-control-number
          formControlName="frequency"
          [controlName]="'Frequência'"
          [control]="newComponentForm.controls['frequency']"
          [placeholder]="'Digite a frequência de verificação da temperatura (milissegundos)'"
        >
        </form-control-number>
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <form-control-number
          formControlName="analogPin"
          [controlName]="'Pino analógico'"
          [control]="newComponentForm.controls['analogPin']"
          [placeholder]="'Digite o pino analógico em que o componente está conectado'"
        >
        </form-control-number>
        <form-control-number
          formControlName="frequency"
          [controlName]="'Frequência'"
          [control]="newComponentForm.controls['frequency']"
          [placeholder]="'Digite a frequência de verificação da luminosidade (milissegundos)'"
        >
        </form-control-number>
        <form-control-number
          formControlName="threshold"
          [controlName]="'Limite'"
          [control]="newComponentForm.controls['threshold']"
          [placeholder]="'Digite o limite de variação da luminosidade'"
        >
        </form-control-number>
      </ng-container>
      <ng-container *ngSwitchCase="4">
        <form-control-number
          formControlName="digitalPin"
          [controlName]="'Pino digital'"
          [control]="newComponentForm.controls['digitalPin']"
          [placeholder]="'Digite o pino digital em que o componente está conectado'"
        >
        </form-control-number>
      </ng-container>
      <!--<ng-container *ngSwitchCase="5">
        <form-control-number
          formControlName="analogPin"
          [controlName]="'Pino analógico'"
          [control]="newComponentForm.controls['analogPin']"
        >
        </form-control-number>
        <form-control-number
          formControlName="frequency"
          [controlName]="'Frequência'"
          [control]="newComponentForm.controls['frequency']"
        >
        </form-control-number>
        <form-control-number
          formControlName="threshold"
          [controlName]="'Limite'"
          [control]="newComponentForm.controls['threshold']"
        >
        </form-control-number>
      </ng-container>-->
      <ng-container *ngSwitchCase="6">
          <form-control-number
          formControlName="digitalPin"
          [controlName]="'Pino digital'"
          [control]="newComponentForm.controls['digitalPin']"
          [placeholder]="'Digite o pino digital em que o componente está conectado'"
        >
        </form-control-number>
        <form-control-number
          formControlName="startAt"
          [controlName]="'Iniciar em'"
          [control]="newComponentForm.controls['startAt']"
          [placeholder]="'Digite a angulação em que o servo deve iniciar (graus)'"
        >
        </form-control-number>
        <form-control-number
          formControlName="minRange"
          [controlName]="'Rotação inicial'"
          [control]="newComponentForm.controls['minRange']"
          [placeholder]="'Digite a angulação inicial do servo (graus)'"
        >
        </form-control-number>
        <form-control-number
          formControlName="maxRange"
          [controlName]="'Rotação máxima'"
          [control]="newComponentForm.controls['maxRange']"
          [placeholder]="'Digite a angulação máxima do servo (graus)'"
        >
        </form-control-number>
        <form-control-text
          formControlName="command"
          [controlName]="'comando'"
          [control]="newComponentForm.controls['command']"
          [placeholder]="'Digite o comando para interagir com o servo'"
        >
        </form-control-text>
      </ng-container>
    </div>
    <button-submit
      [text]="'Cadastrar'"
      [disabled]="newComponentForm.invalid"
    >
    </button-submit>
  </form>
</div>
<modal [headerTitle]="headerTitle" [openModal]="openModal" (closeModal)="onCloseModal($event)">
  <ng-container *modalBody>
    <span class="warning__message"
      [textContent]="warningMessage"
    >
    </span>
  </ng-container>
</modal>