:host, .current-user__container
  display flex
  height 100%
  min-height 14rem
  max-height 16rem
  width 100%

.current-user__container
  align-items center
  display flex
  flex-direction column
  justify-content space-between
  padding 3rem 0 2rem 0
  width 100%

.current-user__container__icon,
.current-user__container__name
.current-user__container__change-user
  color #EEE

.current-user__container-user
  align-items center
  display flex
  justify-content space-around
  width 9.8rem

.current-user__container__icon
  font-size 4rem

.current-user__container__name
  font-size 1.1rem

.current-user__container__change-user
  background-color #F27935
  border-radius 2.5rem
  padding 0.8rem 2rem
  text-decoration none
  transition all .3s linear
  &:hover
    background-color #EEE
    color #353C3E

@media screen and (min-height: 50rem)
  .current-user__container-user
    width 12rem

  .current-user__container__icon
    font-size 5rem

  .current-user__container__change-user
    padding 1rem 2.5rem