.current-user__container
  align-items center
  display flex
  flex-direction column
  height 100%
  padding 2rem 0 
  width 100%

.current-user__container__icon,
.current-user__container__name
.current-user__container__change-user
  color #EEE

.current-user__container__icon
  font-size 6rem

.current-user__container__change-user
  background-color #F27935
  border-radius 2.5rem
  padding 1rem 2rem
  transition all .3s linear
  text-decoration none
  &:hover
    background-color #EEE
    color #353C3E