:host
  display flex
  flex-direction column
  flex 1

.card__front-description
  display flex
  flex 1
  flex-direction column
  font 700 4rem 'Exo 2', sans-serif
  justify-content space-around
  text-align center