<div class="card__front-description">
  <span class="card__front-description__text" [textContent]="componentDescription | uppercase"></span>
  <ng-container *ngIf="componentType === 6">
    <input type="range" (change)="onRangeChange($event)" class="card__range" [min]="componentMinRange" [max]="componentMaxRange" [value]="componentPosition + 50">
  </ng-container>
  <i class="card__front-description__icon fa" [ngClass]="{
    'fa-lightbulb-o': componentType === 1,
    'fa-cogs': componentType === 6
  }"></i>
</div>