<ng-container [ngSwitch]="type">
  <div class="card-front__container__icon" *ngSwitchCase="1">
    <i class="fa fa-lightbulb-o"></i>
  </div>
  <div class="card-front__container__icon" *ngSwitchCase="2">
    <i class="fa fa-thermometer"></i>
  </div>
  <div class="card-front__container__icon" *ngSwitchCase="3">
    <i class="fa fa-low-vision"></i>
  </div>
  <div class="card-front__container__icon" *ngSwitchCase="4">
    <i class="fa fa-rss"></i>
  </div>
  <div class="card-front__container__icon" *ngSwitchCase="5">
    <i class="fa fa-wifi"></i>
  </div>
  <div class="card-front__container__icon" *ngSwitchCase="6">
    <i class="fa fa-cogs"></i>
  </div>
</ng-container>
