:host
  align-items center
  display flex
  flex-direction column
  position relative
  overflow hidden
  width 100%

.carousel__wrapper
  border-radius .2rem
  overflow hidden
  width 100%

.carousel__inner
  display flex
  list-style none
  margin 0
  padding 0

.carousel__item-link,
.carousel__item-link__description,
.carousel__item-link__subdescription,
button[class^="carousel__controls"]
  text-align center
  transition all .4s ease-out
  word-wrap break-word

.carousel__item
  min-width 255px
  padding 0 .5rem
  width 100%

.carousel__item-link
  align-items center
  background-color #353C3E
  color #fff
  display flex
  flex-direction column
  height 15rem
  justify-content flex-start
  padding 0
  overflow hidden
  text-decoration none
  &:hover
    cursor pointer
  &:hover .carousel__item-link__description
    transform scale(1.1)
  &:hover .carousel__item-link__subdescription
    transform translate3d(0, 2rem, 0)

.carousel__item-link-new
  background-color #66CC99

.carousel__item-link__description
  font 400 2rem 'Exo 2', sans-serif

.carousel__item-link__subdescription
  font 300 1.2rem 'Mada', sans-serif
  transform translate3d(0, 10rem, 0)

.item-width
  transition all .4s ease-in
  width 16.25rem

.fa
  transition all .4s ease-in

.carousel__controls__left,
.carousel__controls__right
  border none
  border-radius .2rem
  background-color transparent
  color #FFF
  font-size 1.5rem
  opacity .5
  outline none
  padding .5rem 2rem
  position absolute
  transform translateY(-50%)
  transition all .4s ease-in
  top 60%
  &:hover
    opacity 1

.carousel__controls__left
  left .5rem

.carousel__controls__right
  right .5rem 

@media screen and (min-width: 31rem)
  .carousel__controls__left,
  .carousel__controls__right
    top 50%