<section class="carousel__wrapper" [class.item-width]="'true'">
  <ul class="carousel__inner" #carousel>
    <li class="carousel__item" *ngFor="let item of items">
      <ng-container *ngIf="item?.isntItem else isItem">
        <a [routerLink]="item?.routePath ? [item?.routePath, 'new'] : ['new']" class="carousel__item-link carousel__item-link-new" [class.item-width]="'true'">
          <h1 class="carousel__item-link__description" [textContent]="item?.description"></h1>
        </a>
      </ng-container>
      <ng-template #isItem>
        <a [routerLink]="[childRoute ? childRoute : './', item?._id || item?.id]" class="carousel__item-link" [class.item-width]="'true'">
        <h1 class="carousel__item-link__description" [textContent]="item?.description"></h1>
        <span class="carousel__item-link__subdescription"
          [textContent]="
            (item?.url) ||
            (item.Model === 1 ? 'Arduino UNO' : (item.Model === 2 ? 'Arduino MEGA' : null)) ||
            (item.type === '1' ? 'Switch' : (item.type === '2' ? 'Thermometer' : (item.type === '3' ? 'Light' : (item.type === '4' ? 'Motion' : (item.type === '5' ? 'Sensor' : (item.type === '6' ? 'Servo' : null)))))) ||
            (this.item.hasOwnProperty('components') ? (this.item.components.length > 1 ? this.item.components.length + ' Components' : (this.item.components.length === 1 ? this.item.components.length + ' Component' : '0 Components' )) : null) ||
            ((item?.isAdmin === 'true' || item?.isAdmin === 'false') ? (item?.isAdmin === 'true' ? 'Admin': 'User') : (item?.isAdmin === 'false' ? 'User': 'Admin'))">
        </span>
      </a>
      </ng-template>
    </li>
  </ul>
</section>
<div class="carousel__controls" *ngIf="showControls">
  <button class="carousel__controls__left" (click)="prev()">
    <i class="fa fa-chevron-left"></i>
  </button>
  <button class="carousel__controls__right" (click)="next()">
    <i class="fa fa-chevron-right"></i>
  </button>
</div>