ul
  list-style none
  margin 0
  padding 0
  width 6000px

.carousel-wrapper 
  overflow hidden

.carousel-inner 
  display flex

.carousel-item
  padding 0
  width 256px
  height 256px
  background-color crimson
  color #fff
  text-align center

h1
  word-wrap break-word