:host, .button-back
  display flex
  height 3.4rem
  width 3.4rem

.button-back
  align-items center
  border-radius 50%
  box-shadow 0 0 .5rem #999
  color #EB4549
  font-size 4rem
  justify-content center
  transition all .4s linear
  &:hover
    box-shadow 0 .2rem 1.5rem #999
    cursor pointer