<!--<button-back></button-back>
<div class="update-user-container">
  <h1 class="update-user-container__title">Update an user</h1>
  <form class="update-user-form" [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
    <form-control-text
      formControlName="name"
      [controlName]="'name'"
      [control]="updateUserForm.controls['name']"
    ></form-control-text>
    <fieldset class="update-user-form__fieldset">
      <legend class="update-user-form__legend">Admin</legend>
      <label for="admin" class="update-user-form__label">No</label>
      <input type="radio" formControlName="isAdmin" value="false" (change)="onChange(0)" class="update-user-form__radio">
      <label for="admin" class="update-user-form__label">Yes</label>
      <input type="radio" formControlName="isAdmin" value="true" (change)="onChange(1)" class="update-user-form__radio">
    </fieldset>
    <ng-container *ngIf="isUserAdmin">
      <label for="adminPin" class="update-user-form__label">Pin</label>
      <input type="number" formControlName="pin" class="update-user-form__input">
    </ng-container>
    <button-submit [disabled]="updateUserForm.invalid"></button-submit>
  </form>
</div>-->