:host
  display flex
  flex 0 0 0
  overflow hidden

:host-context(.flipped-left)
  flex 1

.card__back-left
  color #FFF
  display flex
  flex-direction column
  flex 0 1 0%
  max-width 0
  opacity 0
  overflow hidden
  transition all .5s ease

.isOpen
  flex 1
  max-width 100%
  opacity 1
  transition all .5s ease
  width 100%

.card__back-left__icons,
.card__back-left__form
  display flex

.card__back-left__form
  height 100%
  padding-top 1rem