<button-back></button-back>
<div class="new-user-container">
  <h1 class="new-user-container__title">Cadastrar novo usuário</h1>
  <form class="new-user-form" [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
    <form-control-text
      formControlName="name"
      [controlName]="'nome'"
      [control]="newUserForm.controls['name']"
      [placeholder]="'Digite o nome do novo usuário'"
    ></form-control-text>
    <form-control-radio-group
      formControlName="isAdmin"
      [control]="newUserForm.controls['isAdmin']"
      [legend]="'Administrador?'"
      [fields]="fields"
      (change)="onChange()"
    ></form-control-radio-group>
    <form-control-password *ngIf="isAdmin"
      formControlName="pin"
      [controlName]="'pin'"
      [control]="newUserForm.controls['pin']"
      [placeholder]="'Digite o pin do novo usuário'"
    ></form-control-password>
    <button-submit
      [text]="'Cadastrar'"
      [disabled]="newUserForm.invalid"
    ></button-submit>
    <modal [headerTitle]="'Confirmar pin do administrador'" [openModal]="openModal" (closeModal)="onCloseModal($event)">
      <ng-container *modalBody>
        <form-control-password class="password" *ngIf="openModal"
          formControlName="adminPin"
          [controlName]="'Pin'"
          [control]="newUserForm.controls['adminPin']"
          [placeholder]="'Digite o pin de um dos usuários administradores'"
        ></form-control-password>
        <button-submit
          [text]="'Cadastrar'"
          [disabled]="newUserForm.invalid" (click)="onSubmit()"
        >
        </button-submit>
      </ng-container>
    </modal>
  </form>
</div>