:host
  display flex
  flex-direction column
  padding 2rem
  width 100%

.new-user-container
  display flex
  flex-direction column
  width 100%

.new-user-container__title
  font-family 'Exo 2', sans-serif
  text-align center

@media screen and (min-width 32rem)
  .new-user-container
    padding 0 8rem