<div class="form-control">
  <label for="{{ controlName }}" class="form-control__label"
    [ngClass]="
      {
        'label-board': controlName === 'board',
        'label-gears': controlName === 'component'
      }"
    [textContent]="controlName | capitalize"
  >
  </label>
  <label class="form-control__switch">
    <input type="checkbox" class="form-control__switch__input" [checked]="_value" (change)="onChange($event)">
    <span class="form-control__switch__slider"></span>
  </label>
</div>
