.new-user-container
  margin auto
  overflow auto
  width 100%

.new-user-container__title
  margin 1rem 0

.new-user-form
  display flex
  flex-direction column
  font-size 1rem

.new-user-form__input,
.new-user-form__fieldset
  margin .5rem 0 1rem 0

.new-user-form__input
  font-size 1.5rem
  transition all .5s ease

.new-user-form__legend
  padding 0 .3rem

.new-user-form__radio
  margin 0 1rem 0 0

.new-user-form__submit
  padding 1rem 0
  margin .5rem 0 1rem 0