:host
  display inline-flex
  height 100%
  flex-direction column
  padding 2rem
  width 100%

.disabled
  cursor none
  pointer-events none
  opacity .4

.home
  display flex
  flex-wrap wrap
  justify-content space-around
  height 100%
  text-align center
  width 100%

.home > *:not(last-child)
    margin-bottom 2rem