<div class="home">
  <ng-container *ngIf="connectedToLocalModule else notConnected">
    <ng-container *ngIf="components?.length else noComponents">
      <ng-container *ngFor="let component of components">
        <card [component]="component"></card>
      </ng-container>
    </ng-container>
    <ng-template #noComponents>
      <h1>Nenhum componente cadastrado</h1>
    </ng-template>
  </ng-container>
  <ng-template #notConnected>
    <h1>Aguardando conexão com alguma residência...</h1>
  </ng-template>
</div>