<div class="flipper__front">
  <div class="flipper__front__icons">
    <i class="fa fa-tasks"></i><i class="fa fa-cog"></i>
  </div>
  <div class="flipper__front__description">
    <span>
      {{ component.custom.description | uppercase }}
    </span>
    <i class="fa" [ngClass]="
    {
      'fa-lightbulb-o': component.custom.type === '1',
      'fa-thermometer': component.custom.type === '2',
      'fa-rss': component.custom.type === '3'
    }
    "></i>
  </div>
</div>
<div class="flipper__back"></div>