<div class="new-board-container">
  <h1 class="new-board-container__title">New Board</h1>
  <form [formGroup]="newBoardForm" class="new-board-form" (ngSubmit)="onSubmit()">
    <label for="description" class="new-board-form__label">Description</label>
    <input type="text" formControlName="description" class="new-board-form__input">
    <label for="model" class="new-board-form__label">Model</label>
    <input type="number" formControlName="model" class="new-board-form__input">
    <label for="port" class="new-board-form__label">Port</label>
    <input type="number" formControlName="port" class="new-board-form__input">
    <input type="submit" value="Create" class="new-board-form__submit" [disabled]="newBoardForm.invalid">
  </form>
</div>