:host
  display inline-flex
  height 100%
  flex-direction column
  padding 2rem
  width 100%

.button-container
  display flex
  justify-content space-between
  margin-bottom 2rem
  min-height 3.47rem
  width 100%