<div class="button-container">
  <button-back></button-back>
  <button-delete></button-delete>
</div>
<div class="update-residence-container" *ngIf="residence">
  <h1 class="update-residence-container__title">Update {{ residence?.description }}</h1>
  <form [formGroup]="updateResidenceForm" class="update-residence-form" (ngSubmit)="onSubmit()">
    <form-control-text
      formControlName="description"
      [controlName]="'description'"
      [control]="updateResidenceForm.controls['description']"
    >
    </form-control-text>
    <form-control-text
      formControlName="url"
      [controlName]="'url'"
      [control]="updateResidenceForm.controls['url']"
    >
    </form-control-text>
    <button-submit [disabled]="updateResidenceForm.invalid"></button-submit>
  </form>
</div>