_blue-tone = #00A4B2
_blue-tone--hover = #0F8AB2
_box-shadow = 0 .9rem 3rem #BBB
_box-shadow--hover = 0 .9rem 3rem #999
_global-transition = all .5s ease

/*$thumb-properties
  background-color #FFF
  border-radius 50%
  height 6rem
  width 5rem

.servo
  display flex
  background-color _blue-tone
  box-shadow _box-shadow
  color #FFF
  font 700 4rem 'Exo 2', sans-serif
  flex 1 1 100%
  flex-direction column
  height 25rem
  margin 2rem 0 2rem 0
  padding 1rem
  transition all .3s linear
  width 18rem
  &:hover
    background-color _blue-tone--hover
    box-shadow _box-shadow--hover
    cursor default

.servo__description-container
  display flex
  flex-direction column
  justify-content space-around
  text-align center
  word-break break-all

.servo__description
  font-size 2rem

.servo__range-container
  display flex
  flex-direction column
  flex-grow 2
  justify-content space-around
  padding-top 3rem
  text-align center
  word-break break-all

.servo__range
  display flex
  -webkit-appearance none
  background-color transparent
  width 100%
  &::-webkit-slider-thumb
    -webkit-appearance none
    background-color #FFF
    border-radius 50%
    margin-top -2rem
    height 5rem
    width 5rem
    margin-top -2rem
    transition all .3s linear 
    &:hover
      transform scale(1.1)
      cursor pointer
  &::-moz-range-thumb
    background-color #FFF
    border 0
    border-radius 50%
    height 5rem
    width 5rem
    &:hover
      transform scale(1.1)
      cursor pointer
  &::-ms-thumb
    background-color #FFF
    border 0
    border-radius 50%
    height 5rem
    width 5rem
    &:hover
      transform scale(1.1)
      cursor pointer
  &:focus
    outline none
  &::-moz-focus-inner,
  &::-moz-focus-outer
    border 0
  &::-webkit-slider-runnable-track
    border-color transparent
    background-color #CCC
    color transparent
    cursor pointer
    height .8rem
    width 100%
  &::-moz-range-track
    border-color transparent
    background-color #CCC
    color transparent
    cursor pointer
    width 100%
  &::-ms-track
    border-color transparent
    background-color transparent
    color transparent
    cursor pointer
    width 100%

@media screen and (min-width: 26rem)
  .servo
    height 25rem;
    width 25rem;

*/

.servo
  flex 1 1 100%
  height 25rem
  margin 2rem 0 2rem 0
  perspective 62.5rem
  transition _global-transition
  user-select none
  width 18rem
  &.flipped-right .servo__flipper
    transform rotateY(180deg)
  &.flipped-left .servo__flipper
    transform rotateY(-180deg)

.servo__flipper,
.servo__front,
.servo__back
  height 100%
  width 100%

.servo__flipper
  position relative
  transition _global-transition
  transform-style preserve-3d

.servo__front,
.servo__back
  backface-visibility hidden
  background-color _blue-tone
  box-shadow _box-shadow
  color #FFF
  display flex
  flex-direction column
  left 0
  padding 1rem
  position absolute
  transition _global-transition
  top 0

.servo__front
  transform rotateY(0deg)
  z-index 2
  &:hover
    background-color _blue-tone--hover
    box-shadow _box-shadow--hover
    cursor pointer
  &.isOn
    background-color _green-tone
    &:hover
      background-color _green-tone--hover
  &.isOn + .servo__back
    background-color _green-tone

.servo__front-icons,
.servo__back-left__icons,
.servo__back-right__icons,
  display flex
  justify-content space-between
  font-size 2.5rem

.fa-cogs
  font-size 4rem

.fa-tasks,
.fa-cog,
.fa-times
  transition _global-transition
  backface-visibility hidden

.fa-tasks
  transform translateX(3px)
  &:hover
    transform translateX(0)

.fa-cog,
.fa-times
  &:hover
    cursor pointer
    transform rotate(90deg)

.servo__front-description
  display flex
  flex-direction column
  flex 2 1 80%
  font 700 2.5rem 'Exo 2', sans-serif
  justify-content space-around
  text-align center

.servo__range
  display flex
  -webkit-appearance none
  background-color transparent
  width 100%
  &::-webkit-slider-thumb
    -webkit-appearance none
    background-color #FFF
    border-radius 50%
    margin-top -2rem
    height 5rem
    width 5rem
    margin-top -2rem
    transition all .3s linear 
    &:hover
      transform scale(1.1)
      cursor pointer
  &::-moz-range-thumb
    background-color #FFF
    border 0
    border-radius 50%
    height 5rem
    width 5rem
    &:hover
      transform scale(1.1)
      cursor pointer
  &::-ms-thumb
    background-color #FFF
    border 0
    border-radius 50%
    height 5rem
    width 5rem
    &:hover
      transform scale(1.1)
      cursor pointer
  &:focus
    outline none
  &::-moz-focus-inner,
  &::-moz-focus-outer
    border 0
  &::-webkit-slider-runnable-track
    border-color transparent
    background-color #CCC
    color transparent
    cursor pointer
    height .8rem
    width 100%
  &::-moz-range-track
    border-color transparent
    background-color #CCC
    color transparent
    cursor pointer
    width 100%
  &::-ms-track
    border-color transparent
    background-color transparent
    color transparent
    cursor pointer
    width 100%

.servo__back
  display flex
  flex-direction row
  justify-content space-between
  transform rotateY(180deg)

.servo__back-left,
.servo__back-right
  color #FFF
  flex 0 1 0%
  max-width 0
  opacity 0
  transition _global-transition
  &.isOpen
    flex 2 0 100%
    max-width 100%
    opacity 1

[class$="icons"]
  display flex
  overflow hidden

@media screen and (min-width: 26rem)
  .servo
    height 25rem;
    width 25rem;