<div class="table__container">
  <table class="table">
    <thead class="table__head">
      <th class="table__head__item">Id da task</th>
      <th class="table__head__item">Componente</th>
      <th class="table__head__item">Estado</th>
      <th class="table__head__item">Posição</th>
      <th class="table__head__item">Data</th>
    </thead>
    <tbody class="table__body">
      <tr class="table__body__row">
        <td class="table__body__row__item">59c7f14090b68a3b6503bc6d</td>
        <td class="table__body__row__item">Teste</td>
        <td class="table__body__row__item">Teste</td>
        <td class="table__body__row__item">Teste</td>
        <td class="table__body__row__item">Teste</td>
      </tr>
      <tr class="table__body__row">
        <td class="table__body__row__item">59c7f14090b68a3b6503bc6d</td>
        <td class="table__body__row__item">Teste</td>
        <td class="table__body__row__item">Teste</td>
        <td class="table__body__row__item">Teste</td>
        <td class="table__body__row__item">Teste</td>
      </tr>
      <tr class="table__body__row">
        <td class="table__body__row__item">59c7f14090b68a3b6503bc6d</td>
        <td class="table__body__row__item">Teste</td>
        <td class="table__body__row__item">Teste</td>
        <td class="table__body__row__item">Teste</td>
        <td class="table__body__row__item">Teste</td>
      </tr>
      <tr class="table__body__row">
        <td class="table__body__row__item">59c7f14090b68a3b6503bc6d</td>
        <td class="table__body__row__item">Teste</td>
        <td class="table__body__row__item">Teste</td>
        <td class="table__body__row__item">Teste</td>
        <td class="table__body__row__item">Teste</td>
      </tr>
    </tbody>
  </table>
</div>
