:host,
.button-update
  box-sizing border-box
  display flex
  width 100%

.button-update
  align-items center
  background-color #4387B5
  box-shadow 0 0 .5rem #999
  color #EEE
  font-family 'Exo 2', sans-serif
  font-size 1.5rem
  height 5rem
  justify-content center
  margin 1rem 0
  text-decoration none
  transition all .5s linear
  &:hover
    box-shadow 0 .2rem 1.5rem #999
    cursor pointer