:host, .button-update
  display flex
  height 3.4rem
  width 3.4rem

.button-update
  align-items center
  background-color #2F79C3
  border-radius 50%
  box-shadow 0 0 .5rem #999
  color #EEE
  font-size 2.5rem
  justify-content center
  text-decoration none
  transition all .4s linear
  &:hover
    box-shadow 0 .2rem 1.5rem #999
    cursor pointer