<div class="button-container">
  <button-back></button-back>
</div>
<div class="new-room-container">
  <form class="new-room-form" [formGroup]="newRoomForm" (ngSubmit)="onSubmit()">
    <form-control-text
      formControlName="description"
      [controlName]="'descrição'"
      [control]="newRoomForm.controls['description']"
      [placeholder]="'Descrição da dependência'"
    >
    </form-control-text>
    <button-submit
      [text]="'Cadastrar'"
      [disabled]="newRoomForm.invalid"
    ></button-submit>
  </form>
</div>
<modal [headerTitle]="headerTitle" [openModal]="openModal" (closeModal)="onCloseModal($event)">
  <ng-container *modalBody>
    <span class="warning__message"
      [textContent]="warningMessage"
    >
    </span>
  </ng-container>
</modal>
