<div class="button-container">
  <button-back></button-back>
</div>
<div class="new-residence__container">
  <form [formGroup]="newResidenceForm" class="new-residence-form" (ngSubmit)="onSubmit()">
    <form-control-text
      formControlName="description"
      [controlName]="'description'"
      [control]="newResidenceForm.controls['description']"
    >
    </form-control-text>
    <form-control-text
      formControlName="url"
      [controlName]="'url'"
      [control]="newResidenceForm.controls['url']"
    >
    </form-control-text>
    <button-submit [disabled]="newResidenceForm.invalid"></button-submit>
  </form>
</div>