:host
  display flex
  justify-content center
  align-items center
/*:host,
.button-new
  box-sizing border-box
  display flex
  width 100%

.button-new
  align-items center
  background-color #3BC391
  box-shadow 0 0 .5rem #999
  color #EEE
  font-family 'Exo 2', sans-serif
  font-size 1.5rem
  height 5rem
  justify-content center
  margin 1rem 0
  text-decoration none
  transition all .5s linear
  &:hover
    box-shadow 0 .2rem 1.5rem #999
    cursor pointer*/

.button-new
  align-items center
  background-color #3BC391
  border-radius 50%
  box-shadow 0 0 .5rem #999
  color #EEE
  display flex
  font-size 3rem
  height 3.4rem
  justify-content center
  text-decoration none
  transition all .4s linear
  width 3.4rem
  &:hover
    box-shadow 0 .2rem 1.5rem #999
    cursor pointer

.fa
  margin-top .2rem