<div class="button-container">
  <button-back></button-back>
  <button-delete></button-delete>
</div>
<div class="update-board-container" *ngIf="board">
  <form [formGroup]="updateBoardForm" class="update-board-form" (ngSubmit)="onSubmit()">
    <form-control-text
      formControlName="description"
      [controlName]="'descrição'"
      [control]="updateBoardForm.controls['description']"
    >
    </form-control-text>
    <form-control-number
      formControlName="port"
      [controlName]="'porta'"
      [control]="updateBoardForm.controls['port']"
    >
    </form-control-number>
    <button-submit
     [text]="'Salvar'"
     [disabled]="updateBoardForm.invalid"></button-submit>
  </form>
</div>
<modal [headerTitle]="headerTitle" [openModal]="openModal" (closeModal)="onCloseModal($event)">
  <ng-container *modalBody>
    <span class="warning__message"
      [textContent]="warningMessage"
    >
    </span>
  </ng-container>
</modal>