_yellow-tone = #F1C40F
_yellow-tone--hover = #FCCA05
_box-shadow = 0 .9rem 3rem #BBB
_box-shadow--hover = 0 .9rem 3rem #999

.thermometer
  display flex
  background-color _yellow-tone
  box-shadow _box-shadow
  color #FFF
  font 700 4rem 'Exo 2', sans-serif
  flex 1 1 100%
  flex-direction column
  height 25rem
  margin 2rem 0 2rem 0
  padding 1rem
  transition all .3s linear
  width 18rem
  &:hover
    background-color _yellow-tone--hover
    box-shadow _box-shadow--hover
    cursor pointer

.thermometer__description-container
  display flex
  flex-direction column
  justify-content space-around
  text-align center
  word-break break-all

.thermometer__description
  font-size 2rem

.thermometer__data-container
  display flex
  flex-direction column
  flex-grow 2
  justify-content space-around
  text-align center
  word-break break-all

@media screen and (min-width: 26rem)
  .thermometer
    height 25rem;
    width 25rem;