.update-profile-container
  margin auto
  overflow auto
  width 100%

.update-profile-container__title
  margin 1rem 0

.update-profile__form
  display flex
  flex-direction column
  font-size 1rem

.update-profile__form__input
  font-size 1.5rem
  margin .5rem 0 1rem 0

.update-profile__form__submit
  padding 1rem 0
  margin .5rem 0 1rem 0