.wrapper
  display flex
  width 100%
  height 100%

.sidebar__container
  flex 0 0 20rem
  margin-left -20rem
  transition all .3s ease-in-out

.isSidebarOpen
  margin-left 0

.router-outlet__container
  display flex
  flex 1
  justify-content center
  max-width 100%
  overflow-y scroll
  padding 6rem 1rem 0 1rem
  position relative

.router-outlet__container::-webkit-scrollbar
  display none

/*@media screen and (min-width: 64rem)
  .sidebar__container
    margin-left 0*/