.wrapper
  display flex
  position relative
  height 100%
  width 100%
  overflow hidden

.sidebar__container
  background-color #3F3F3F
  flex 0 0 20rem
  margin 5rem 0 0 -20rem
  transition all .5s ease-in-out
  width 20rem

.isSidebarOpen
  margin-left 0

.router-outlet__container
  flex 1
  margin-top 5rem
  max-width 100%
  overflow-x hidden
  padding 1rem
  position relative
  transition all .5s ease-in-out
  &::after
    transition all .5s linear
    height 100%
    left 0
    opacity .5
    position absolute
    top 0
    width 100%

.isSidebarOpen + .router-outlet__container
  &::after
    content: ''
    background-color #000

@media screen and (min-width 48rem)
  .router-outlet__container
    &::after
      content none

  .isSidebarOpen + .router-outlet__container
    opacity 1