<div class="button-container">
  <button-back></button-back>
</div>
<div class="new-board-container">
  <form [formGroup]="newBoardForm" class="new-board-form" (ngSubmit)="onSubmit()">
    <form-control-text
      formControlName="description"
      [controlName]="'descrição'"
      [control]="newBoardForm.controls['description']"
      [placeholder]="'Descrição da placa'"
    >
    </form-control-text>
    <form-control-select
      formControlName="model"
      [controlName]="'placa'"
      [control]="newBoardForm.controls['model']"
      [defaultOption]="'Escolha o modelo da placa'"
      [items]="boards"
    >
    </form-control-select>
    <form-control-number
      formControlName="port"
      [controlName]="'porta'"
      [control]="newBoardForm.controls['port']"
      [placeholder]="'Porta da placa na sua rede local'"
    >
    </form-control-number>
  <button-submit
    [text]="'Cadastrar'"
    [disabled]="newBoardForm.invalid">
  </button-submit>
  </form>
</div>
<modal [headerTitle]="'Aviso'" [openModal]="openModal" (closeModal)="onCloseModal($event)">
  <ng-container *modalBody>
    <span class="warning__message"
      [textContent]="warningMessage"
    >
    </span>
  </ng-container>
</modal>