<div class="button-container">
  <button-back></button-back>
</div>
<div class="new-board-container">
  <form [formGroup]="newBoardForm" class="new-board-form" (ngSubmit)="onSubmit()">
    <form-control-text
      formControlName="description"
      [controlName]="'description'"
      [control]="newBoardForm.controls['description']"
      [placeholder]="'Enter with your board description'"
    >
    </form-control-text>
    <form-control-select
      formControlName="model"
      [controlName]="'board'"
      [control]="newBoardForm.controls['model']"
      [defaultOption]="'Choose the board'"
      [items]="boards"
    >
    </form-control-select>
    <form-control-text
      formControlName="port"
      [controlName]="'port'"
      [control]="newBoardForm.controls['port']"
      [placeholder]="'Enter your board port on your network'"
    >
    </form-control-text>
  <button-submit [disabled]="newBoardForm.invalid"></button-submit>
  </form>
</div>