.top-bar
  display flex
  align-items center
  background-color #5991B1
  justify-content center
  height 5rem
  position fixed
  width 100%
  z-index 10

/*@media screen and (min-width 64rem)
  .top-bar
    width calc(100% - 320px)
    right 0
*/

h1
  align-self center
  color #FFF