.top-bar
  display flex
  align-items center
  background-color #0A0A0A
  box-shadow 0 1px 1rem #333
  justify-content center
  height 5rem
  position fixed
  width 100%
  z-index 10

.title
  font 300 1.5rem 'Mada', sans-serif
  align-self center
  color #FFF

@media screen and (min-width: 425px)
  .title
    font-size 2rem