:host
  display flex
  height 100%
  width 100%

.wrapper
  display flex
  position relative
  height 100%
  width 100%
  overflow hidden

.sidebar__container
  background-color #353C3E
  flex 0 0 19rem
  height 100%
  margin 0 0 0 -19rem
  transition all .5s ease-in-out
  width 19rem

.isSidebarOpen
  margin-left 0

.router-outlet__container
  flex 1
  margin-top 4.5rem
  max-width 100%
  overflow-x hidden
  position relative
  transition all .5s ease-in-out
  &::after
    transition all .5s linear
    height 100%
    left 0
    opacity .5
    position absolute
    top 0
    width 100%

.isSidebarOpen + .router-outlet__container
  &::after
    content: ''
    background-color #000

@media screen and (min-width 48rem)
  .router-outlet__container
    &::after
      content none

  .isSidebarOpen + .router-outlet__container
    opacity 1