.sidebar
  display flex
  flex-direction column
  justify-content flex-end
  height 100%
  user-select none
  width 100%

.sidebar-list
  overflow-y scroll
  margin 0
  padding 0
  width 100%

.sidebar-list__item
  display block
  overflow auto

.sidebar-list__item-link
  align-items center
  display flex
  color #FFF
  padding 1.5rem
  text-decoration none
  transition all .3s linear
  &:hover
    background-color #F27935
    color #FFF
    cursor pointer
    padding-left 3rem

.active
  background-color #EEE
  color #3F3F3F

.disabled
  opacity .5
  &:hover
    background-color #3f3f3f
    cursor default
    padding-left 1.5rem