<button-back></button-back>
<div class="new-residence-container">
  <h1 class="new-residence-container__title">Create a new residence</h1>
  <form [formGroup]="newResidenceForm" class="new-residence-form" (ngSubmit)="onSubmit()">
    <form-control-text
      formControlName="description"
      [controlName]="'description'"
      [isValid]="newResidenceForm.controls.description.valid"
    >
    </form-control-text>
    <form-control-text
      formControlName="url"
      [controlName]="'url'"
      [isValid]="newResidenceForm.controls.url.valid"
    >
    </form-control-text>
    <button-submit [disabled]="newResidenceForm.invalid"></button-submit>
  </form>
</div>