*::before, *, *::after
  box-sizing border-box
  user-select none

::-webkit-scrollbar
  display none

html, body
  height 100%
  overflow-x hidden
  width 100%

body
  background-color #EEE
  color #444B54
  font-family 'Open Sans', sans-serif
