*::before, *, *::after
  box-sizing border-box
  user-select none

::-webkit-scrollbar
  width 0px /* remove scrollbar space */
  background transparent  /* optional: just make scrollbar invisible */

html, body
  height 100%
  overflow-x hidden
  width 100%

body
  background-color #EEE
  color #444B54
  font-family 'Open Sans', sans-serif

.fa-times
  align-items center
  display flex
  justify-content center
  transform-origin center center