.disabled
  cursor none
  pointer-events none
  opacity .4

.home
  align-items center
  display flex
  flex-direction column
  justify-content center
  padding 1rem

@media screen and (min-width: 40rem)
  .home
    justify-content space-around
    flex-direction row