.disabled
  cursor none
  pointer-events none
  opacity .4

.home
  display flex
  justify-content space-around
  max-width 87rem
  flex-wrap wrap

@media screen and (min-width: 40rem)
  .home
    flex-direction row