<ul class="list">
  <li class="list__item" *ngFor="let item of set">
    <a [routerLink]="[item?._id]" class="list__item-link">
      <h1 class="list__item-link__description" [textContent]="item?.description || item?.name"></h1>
      <span class="list__item-link__subdescription"
        [textContent]="
          (item?.url) ||
          ((item?.components?.length) ? (item?.components?.length > 1 ? item?.components?.length + ' Components' : null) : (item?.components?.length === 1 ? item?.components?.length + ' Component' : null)) ||
          (item.model === 1 ? 'Arduino UNO' : (item.model === 2 ? 'Arduino MEGA' : null)) ||
          ((item?.isAdmin === 'true' || item?.isAdmin === 'false') ? (item?.isAdmin === 'true' ? 'Admin': 'User') : (item?.isAdmin === 'false' ? 'User': 'Admin'))">
        </span>
    </a>
  </li>
</ul>