_blue-tone = #00A4B2
_blue-tone--hover = #0F8AB2
_box-shadow = 0 .9rem 3rem #BBB
_box-shadow--hover = 0 .9rem 3rem #999

$thumb-properties
  background-color #FFF
  border-radius 50%
  height 6rem
  width 5rem

.servo
  display flex
  background-color _blue-tone
  box-shadow _box-shadow
  color #FFF
  font 700 4rem 'Exo 2', sans-serif
  flex 1 1 100%
  flex-direction column
  height 25rem
  margin 2rem 0 2rem 0
  padding 1rem
  transition all .3s linear
  width 18rem
  &:hover
    background-color _blue-tone--hover
    box-shadow _box-shadow--hover
    cursor default

.servo__description-container
  display flex
  flex-direction column
  justify-content space-around
  text-align center
  word-break break-all

.servo__description
  font-size 2rem

.servo__range-container
  display flex
  flex-direction column
  flex-grow 2
  justify-content space-around
  text-align center
  word-break break-all

.servo__range
  display flex
  -webkit-appearance none
  background-color transparent
  width 100%
  &::-webkit-slider-thumb
    -webkit-appearance none
    background-color #FFF
    background #FFF url('/assets/double-arrow.svg') 50%/3.5rem no-repeat
    border-radius 50%
    margin-top -2rem
    height 5rem
    width 5rem
    margin-top -2rem
    transition all .3s linear
    &:hover
      cursor pointer
      box-shadow 5px 5px 1rem #CCC inset
  &::-moz-range-thumb
    background-color #FFF
    border 0
    border-radius 50%
    height 5rem
    width 5rem
    &:hover
      cursor pointer
  &::-ms-thumb
    border 0
    border-radius 50%
    height 5rem
    width 5rem
    &:hover
      cursor pointer
  &:focus
    outline none
  &::-moz-focus-inner,
  &::-moz-focus-outer
    border 0
  &::-webkit-slider-runnable-track
    border-color transparent
    background-color #CCC
    color transparent
    cursor pointer
    height .8rem
    width 100%
  &::-moz-range-track
    border-color transparent
    background-color #CCC
    color transparent
    cursor pointer
    width 100%
  &::-ms-track
    border-color transparent
    background-color transparent
    color transparent
    cursor pointer
    width 100%

@media screen and (min-width: 26rem)
  .servo
    height 25rem;
    width 25rem;