:host, .card-data
  display flex
  flex-direction column
  margin auto
  transition all .4s linear

:host
  max-width 16rem
  width 100%
  &:hover
    cursor default

.card-data
  width 100%

.card-data__header,
.card-data__body
  align-items center
  display flex
  flex-direction column
  justify-content center

.card-data__header
  background-color #353C3E

.card-data__header__title
  color #FFF
  font-family 'Exo 2', sans-serif
  text-align center

.card-data__body
  background-color #FFF

.card-data__body__data
  display flex
  flex 2 0 100%
  flex-direction column
  padding-bottom 1.245rem
  transition all .5s ease-in
  width 100%
  &:hover
    background-color #EEE

.card-data__body__data__title,
.card-data__body__data__value
  text-align center

.card-data__body__data__title
  margin 1.245rem 0 .5rem 0

@media screen and (min-width: 26rem)
  :host, .card-data
    max-width 25rem