:host
  display flex
  width 100%

:host-context(.task-form)
  .form-control
    width 100%
  .form-control__label,
  .form-control__warning
    color #EEE
  .form-control__input,
  .invalid,
  .valid
    border-color #EEE
  .form-control__input
    background-color #EEE
    border 0
    border-radius .3rem
    color #333
    font-weight 900
    padding .5rem
    margin-top .3rem
  .form-control__warning
    display none

.form-control
  max-width 100%
  display flex
  flex-direction column
  position relative

.form-control__label
  text-align left
  &::before
    font-family 'FontAwesome'
    font-size 2rem
    position absolute
    top 2.5rem

.form-control__input
  border none
  background-color transparent
  color #0A0A0A
  font-size 1rem
  margin .5rem 0 1rem 0
  max-width 100%
  outline none
  padding 1rem 0 .5rem
  transition all .5s linear
  border-bottom .2rem solid #0A0A0A
  &:hover
    cursor pointer

.invalid
  border-color #F31D2F

.valid
  border-color #3BC391

.form-control__warning
  font-size 1.5rem
  color #F31D2F
  margin-bottom 1rem