.residences-list
  display flex
  justify-content space-between
  margin 1rem 0
  padding 0
  width 100%

.residences-list__item
  display flex
  height 15rem
  list-style none
  width 100%
  box-shadow 0 .5rem 1.5rem #999

.residences-list__item-link
  align-items center
  background-color #1C2021
  color #EEE
  display flex
  flex-direction column
  height 100%
  justify-content flex-start
  overflow hidden
  transition all .8s ease-in-out
  text-decoration none
  width 100%
  &:hover
    cursor pointer
    padding 0 0 3rem 0
  &:hover h1
    transform scale(1.2)
  &:hover span
    transform translate3d(0, 4rem, 0)

h1, span
  transition all 1s ease-in-out

h1
  font 400 2.5rem 'Exo 2', sans-serif

span
  transform translate3d(0, 10rem, 0)