_red-tone = #EB6B56
_red-tone--hover = #CE5E4C
_green-tone = #21AD7A
_green-tone--hover = #198A61
_global-transition = all .5s ease
_box-shadow = 0 .9rem 3rem #BBB
_box-shadow--hover = 0 .9rem 3rem #999

.switch
  flex 1 1 100%
  height 25rem
  margin 2rem 0 2rem 0
  perspective 62.5rem
  transition _global-transition
  user-select none
  width 18rem
  &.flipped-right .switch__flipper
    transform rotateY(180deg)
  &.flipped-left .switch__flipper
    transform rotateY(-180deg)

.switch__flipper,
.switch__front,
.switch__back
  height 100%
  width 100%

.switch__flipper
  position relative
  transition _global-transition
  transform-style preserve-3d

.switch__front,
.switch__back
  backface-visibility hidden
  background-color _red-tone
  box-shadow _box-shadow
  color #FFF
  display flex
  flex-direction column
  left 0
  padding 1rem
  position absolute
  transition _global-transition
  top 0

.switch__front
  transform rotateY(0deg)
  z-index 2
  &:hover
    background-color _red-tone--hover
    box-shadow _box-shadow--hover
    cursor pointer
  &.isOn
    background-color _green-tone
    &:hover
      background-color _green-tone--hover
  &.isOn + .switch__back
    background-color _green-tone

.switch__front-icons,
.switch__back-left__icons,
.switch__back-right__icons,
  display flex
  justify-content space-between
  font-size 2.5rem

.fa-tasks,
.fa-cog,
.fa-times
  transition _global-transition
  backface-visibility hidden

.fa-tasks
  transform translateX(3px)
  &:hover
    transform translateX(0)

.fa-cog,
.fa-times
  &:hover
    cursor pointer
    transform rotate(90deg)

.switch__front-description
  display flex
  flex-direction column
  flex 2 1 80%
  font 700 4rem 'Exo 2', sans-serif
  justify-content space-around
  text-align center

.switch__back
  display flex
  flex-direction row
  justify-content space-between
  transform rotateY(180deg)

.switch__back-left,
.switch__back-right
  color #FFF
  flex 0 1 0%
  max-width 0
  opacity 0
  transition _global-transition
  &.isOpen
    flex 2 0 100%
    max-width 100%
    opacity 1

[class$="icons"]
  display flex
  overflow hidden

@media screen and (min-width: 26rem)
  .switch
    height 25rem;
    width 25rem;