_orange-tone = #E67E22
_orange-tone--hover = #E66E19
_box-shadow = 0 .9rem 3rem #BBB
_box-shadow--hover = 0 .9rem 3rem #999

.sensor
  display flex
  background-color _orange-tone
  box-shadow _box-shadow
  color #FFF
  font 700 4rem 'Exo 2', sans-serif
  flex 1 1 100%
  flex-direction column
  height 25rem
  margin 2rem 0 2rem 0
  padding 1rem
  transition all .3s linear
  width 18rem
  &:hover
    background-color _orange-tone--hover
    box-shadow _box-shadow--hover
    cursor pointer

.sensor__description-container
  display flex
  flex-direction column
  justify-content space-around
  text-align center
  word-break break-all

.sensor__description
  font-size 2rem

.sensor__data-container
  display flex
  flex-direction column
  flex-grow 2
  justify-content space-around
  text-align center
  word-break break-all

@media screen and (min-width: 26rem)
  .sensor
    height 25rem;
    width 25rem;